.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", tasks_path
      %li= link_to "New Task", new_task_path
  .content
    %h2.title= "#{t("web-app-theme.all", :default => "All")} Tasks"
    .inner
      - unless @tasks.blank?
        %table.table
          %tr
            %th.first ID
            %th Title
            %th Due Date
            %th.last &nbsp;
          - @tasks.each do |task|
            %tr{:class => cycle("odd","even")}
              %td= task.id
              %td= link_to task.title, task_path(task)
              %td= task.due_date
              %td.last
                = link_to "#{t("web-app-theme.show", :default => "Show")}", task_path(task)
                = link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_task_path(task)
                = link_to "#{t("web-app-theme.delete", :default => "Delete")}", task_path(task), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
        .actions-bar.wat-cf
          .actions
      - else
        There are no tasks available.
      	

- content_for :sidebar, render(:partial => 'sidebar')
