.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", tasks_path
      %li= link_to "New Task", new_task_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", task_path
  .content
    .inner
      - unless @task.nil?
        - @attributes.each do |attr|
          - unless @task.send(attr).blank?
            %p
              %strong= attr.to_s.titleize
              =@task.send(attr)
        .wat-cf
          = link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_task_path(@task), :class => "button"
          = link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", task_path(@task), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
        - content_for :sidebar, render(:partial => 'sidebar')
      - else
        %h1 This task doesn't exist!
