.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "List", users_path
      %li= link_to "New", new_user_path
      %li.active= link_to "Edit", edit_user_path
  .content
    %h2.title= "Edit User"
    .inner
      - form_for @user, :url => user_path(@user), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}   	
