.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "List", users_path
      %li= link_to "New", new_user_path
  .content
    %h2.title= "All Users" 
    .inner
      %table.table
        %tr
          %th.first ID 
          %th Login
          %th Name
          %th.last &nbsp;
        - @users.each do |user|
          %tr{:class => cycle("odd","even")}
            %td= user.id
            %td= link_to user.login, user_path(user)
            %td= user.name
            %td.last
              = link_to "Show", user_path(user)
              = link_to "Edit", edit_user_path(user)
              = link_to "Delete", user_path(user), :method => :delete, :confirm => "Are you sure?"
      .actions-bar.wat-cf
        .actions
