.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "List", users_path
      %li= link_to "New", new_user_path
      %li.active= link_to "Show", user_path
  .content
    .inner
      %p
        %strong Name:
        =@user.name

      %p
        %strong Email:
        =@user.email
      .wat-cf
        = link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "Edit")} Edit", edit_user_path(@user), :class => "button"
        = link_to "#{image_tag("web-app-theme/cross.png", :alt => "Delete")} Delete", user_path(@user), :method => "delete", :class => "button", :confirm => "Are you sure?"