.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "List", contacts_path
      %li= link_to "New Person", url_for(:action => :new, :type => 'person')
      %li= link_to "New Company", url_for(:action => :new, :type => 'company')
      %li.active= link_to "Edit", edit_contact_path
  .content
    %h2.title= "Edit #{@contact.type.titleize}"
    .inner
      - form_for @contact, :url => contact_path(@contact), :html => { :class => :form } do |f|
        = render :partial => "form_#{@contact.type}", :locals => {:f => f}      	
