.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "Browse all")}", contacts_path
      %li= link_to "New Person", url_for(:action => :new, :type => 'person')
      %li= link_to "New Company", url_for(:action => :new, :type => 'company')
  .content
    %h2.title= "#{t("web-app-theme.all", :default => "All")} Contacts" 
    .inner
      - unless @contacts.blank?
        %table.table
          %tr
            %th ID
            %th Name
            %th Type
            %th Created at
            %th.last &nbsp;
          - @contacts.each do |contact|
            %tr{:class => cycle("odd","even")}
              %td= contact.id
              %td= link_to contact.name, contact_path(contact)
              %td= contact.type.titleize
              %td= contact.created_at.to_time.strftime("%a, %d %b %Y %H:%M:%S")
              %td.last
                = link_to "#{t("web-app-theme.show", :default => "Show")}", contact_path(contact)
                = link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_contact_path(contact)
                = link_to "#{t("web-app-theme.delete", :default => "Delete")}", contact_path(contact), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
        .actions-bar.wat-cf
          .actions
      - else
        There are no contacts available.
