.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "Browse all", contacts_path
      %li= link_to "New Person", new_contact_path(:type => 'person')
      %li= link_to "New Company", new_contact_path(:type => 'company')
  .content
    %h2.title All Contacts 
    .inner
      - unless @contacts.blank?
        %table.table
          %tr
            %th ID
            %th Name
            %th Type
            %th Created at
            %th.last &nbsp;
          - @contacts.each do |contact|
            %tr{:class => cycle("odd","even")}
              %td= contact.id
              %td= link_to contact.name, contact_path(contact)
              %td= contact.type.titleize
              %td= contact.created_at.to_time.strftime("%a, %d %b %Y %H:%M:%S")
              %td.last
                = link_to "Convert", convert_contact_path(contact)
                = link_to "Show", contact_path(contact)
                = link_to "Edit", edit_contact_path(contact)
                = link_to "Delete", contact_path(contact), :method => :delete, :confirm => "Are you sure?"
        .actions-bar.wat-cf
          .actions
            = paginate_resource(:total => @contacts.size/2) 
      - else
        There are no contacts available.
