.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", contacts_path
      %li= link_to "New Person", url_for(:action => :new, :type => 'person')
      %li= link_to "New Company", url_for(:action => :new, :type => 'company')
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", contact_path
  .content
    .inner
      - unless @contact.nil?
        - @attributes.each do |attr|
          - unless @contact.send(attr).blank?
            %p
              %strong= attr.to_s.titleize
              =@contact.send(attr)
        - @locations.each do |location|
          %em= location['label'].titleize
          - location.delete_if {|key,value| ['label', 'id'].include?( key ) || value.blank?}
          - location.each do |key,value|
            - unless value.blank?
              %p
                %strong= key.titleize
                = value
        .wat-cf
          = link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_contact_path(@contact), :class => "button"
          = link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", contact_path(@contact), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      - else
        %h1 This user or company doesn't exist!
