.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "List", contacts_path
      %li= link_to "New Person", url_for(:action => :new, :type => 'person')
      %li= link_to "New Company", url_for(:action => :new, :type => 'company')
      %li.active= link_to "Show", contact_path
  .content
    .inner
      - unless @contact.nil?
        - @attributes.each do |attr|
          - unless @contact.send(attr).blank?
            %p
              %strong= attr.to_s.titleize
              =@contact.send(attr)
        = #render 'contacts/locations'
        = link_to "See this contact in BatchBook", "https://#{BatchBook.account}.batchbook.com/contacts/show/#{@contact.id}"
        = #link_to "Convert lead to customer", convert_contact_path(@contact) if convertible?(@contact)
        %br.clear
        %br.clear
        .wat-cf
          = link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "Edit")}" "Edit", edit_contact_path(@contact), :class => "button"
          = link_to "#{image_tag("web-app-theme/cross.png", :alt => "Delete")}" "Delete", contact_path(@contact), :method => "delete", :class => "button", :confirm => "Are you sure?"
      - else
        %h1 This user or company doesn't exist!
