.deal
  .block
    .content
      .inner
        - form_tag deals_path, :method => :get, :class => 'form' do
          #sidebar
            .block
              .filter-box
                .left-.rmargin
                  %h4 Users
                  - @users.in_groups_of( 2, false ) do |group|
                    .left-.margin
                      - group.each do |user|
                        %p
                          = check_box_tag 'filter[users][]', user.name
                          = user.name
                .left-.rmargin
                  %h4 Status
                  - status_values.in_groups_of( 2, false ) do |group|
                    .left-.margin
                      - group.each do |num|
                        %p
                          = check_box_tag 'filter[status][]', num
                          = num
                .left-
                  %h4 Date
                  %br.clear
                  .left-
                    From:
                  .right-
                    = text_field_tag 'filter[date_from]', {}, :class => 'date-pick', :readonly => 'readonly'
                  %br.clear
                  %br.clear
                  .left-
                    To:
                  .right-
                    = text_field_tag 'filter[date_to]', {}, :class => 'date-pick', :readonly => 'readonly'
                %br.clear
                = submit_tag "Filter", :id => 'filter_button'
        %h3
          =@deals.size
          deal(s) total for
          =@selected_users.join(', ')
        - unless @deals.blank?
          %table.table
            %tr
              %th Deal Name
              %th With
              %th Assigned To
              %th Amount
              %th Status
              %th Expected
            - @deals.each do |deal|
              %tr{:class => cycle("odd","even")}
                %td
                  = link_to deal.title, deal_path(deal)
                  .deal_description
                    = deal.description
                %td= deal_with(deal, @people)
                %td= deal.assigned_to
                %td= number_to_currency deal.amount
                %td= deal.status
                %td= number_to_currency deal.expected
                =# link_to "Show", deal_path(deal)
                =# link_to "Edit", edit_deal_path(deal)
                =# link_to "Delete", deal_path(deal), :method => :delete, :confirm => "Are you sure?"
            %tr.totals
              %td{:colspan => 3} Total   
              %td{:colspan => 2}= number_to_currency @deals.sum{|deal| deal.amount.to_f}
              %td{:colspan => 2}= number_to_currency @deals.sum{|deal| deal.expected.to_f}
          .actions-bar.wat-cf
            .actions
              = link_to "#{image_tag("xls.png", :alt => "Export to XLS")} Export to XLS", deals_path(:params => params, :format => :xls), :class => "button"
              %br.clear
              %br.clear
              = paginate_resource
        - else
          No deals were found.
      
