.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", deals_path
      %li.active= link_to "New Deal", new_deal_path
  .content
    %h2.title= "#{t("web-app-theme.new", :default => "New")} Deal"
    .inner
      - form_for :deal, :url => deals_path, :html => { :class => :form } do |f|
        = f.error_messages
        .group
          = f.label :title, "Title", :class => :label
          = f.text_field :title, :class => 'text_field'
          %span.description Ex: a simple text

        .group
          = f.label :description, "Description", :class => :label
          = f.text_area :description, :rows => 3, :class => 'text_area'
          %span.description Ex: a simple text

        .group
          = f.label :amount, "Amount", :class => :label
          = f.text_field :amount, :class => 'text_field money'

        .group
          = f.label :status, "Status", :class => :label
          = f.select :status, status_for_select

        .group
          = f.label :due_date, "Due Date", :class => :label
          = f.datetime_select :due_date

        .group
          = f.label :assigned_to, "Assigned To", :class => :label
          = f.select :assigned_to, people_for_select

        .group
          = f.label :assigned_by,  "Assigned By", :class => :label
          = f.select :assigned_by, people_for_select


        .group.navform.wat-cf
          %button.button{:type => 'submit'}
            =image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
            =t("web-app-theme.save", :default => "Save")
          = link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", deals_path, :class => "button"


- content_for :sidebar, render(:partial => 'sidebar')
