.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", deals_path
      %li= link_to "New Deal", new_deal_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", deal_path
  .content
    .inner
      - unless @deal.nil?
        %h4 General Info
        - %w{title description deal_with amount status assigned_to}.each do |attr|
          - unless @deal.send(attr).blank?
            %p
              %strong= attr.to_s.titleize
              =@deal.send(attr)
        .wat-cf
          = link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_deal_path(@deal), :class => "button"
          = link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", deal_path(@deal), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      - else
        %h1 This deal doesn't exist!
