<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>BatchBlue Integration</title>
	<%= stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/djime-cerulean/style", 'datePicker', :cache => true %>
	<%= javascript_include_tag :defaults, "jquery",'date','jquery.datePicker', :cache => true %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="user-navigation">
        <ul class="wat-cf"> 
		  <% if current_user%>
		  	  <li><%= link_to 'Profile', user_path(current_user) %></li>
	          <li style="color:white">Logged in as <%= current_user.email %></li>
	          <li><%= link_to 'Logoff',logoff_users_path, :class => 'logout' %></li>
		  <% else %>
			  <li><%= link_to 'Login',login_users_path, :class => 'logout' %></li>
		  <% end %>
        </ul>
      </div>      
      <div id="main-navigation">
        <ul class="wat-cf">
        	<% %w{contacts deals users}.each do |type|%>
				<% if controller_name == type%>
					<li class="active">
				<% else %>
					<li>
				<% end %>
				<%=link_to type.titleize, url_for(:controller => type)%>
				</li>
			<%end%>
        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
        </div>
      </div>
    </div>    
  </div>
</body>
</html>
